{% extends 'main/base.html' %}

{% block title %}
    <title>PasswordGenerator- About</title>
{% endblock %}

{% block body %}

<br/>
<br/>
<div align="center">
<h6> The PasswordGenerator App</h6>
<p>  The PasswordGenerator app helps to generate random passowords. the application is powered by Django and python.</p>
<p>You can generate compledx passwords, application allows you to generate required length, combinations passwords.</p>
<p>however, application contains server side interactions, so please do not use this passwords for long, at sensitive </p>
    <p>places like online banking etc. note- the PasswordGenerator app backend code</p>
    <p>is developed by the developer and do not uses any third party libraries(uses few python in-builts).</p>
</div>
<br/>
<br/>
<div align="center">
<h6> The Developer</h6>
<p>The PasswordGenerator App is developed by Chetan Pawar, a full stack software developer and graduated in Information Technology.</p>
<p>Email Id: chetanpawar19@outlook.com</p>
</div>

{% endblock %}
